@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    background-color: rgb(230, 228, 228);
    font-family:'Roboto', sans-serif;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
}

.ulli a{
    display: block;
    text-align: center;
    padding: 14px 16px;
}
.ulli ion-icon{
    background-color:  rgb(230, 228, 228);
    color: grey;
    font-size: large;
    padding: 10px;
}

.ulli ion-icon:hover {
    background-color: #978d89;
    color: azure; 
    font-size: large;

}

.box1{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 75%;
    margin: 10rem auto 0 auto;
}

.box1 img{ 
   height: 30vw;
   padding: 5px;
}
.box1 h1{
    font-size: 5vw;
    text-align: left;
    color: grey;
    letter-spacing: 4px;
}

.box2{
    padding: 40px;
    width: 75%;
    margin: 10rem auto 10rem auto;
    background-color: rgba(255, 255, 255, 0.633);
    display: flex;
}

.box2 ol,li,p,h2,h3,strong,em,a{
    text-align: justify;
    background-color: transparent;
    font-size: 1.3vw;
    color: #94a595;
    letter-spacing: 0.90px;
}

footer {
    padding: 30px;
    margin: 10rem auto 0 auto #978d89;
    background-color: #978d89;

}

footer p,h5,ion-icon{
    text-align: center;
    background-color: #978d89;
    color: white;
}

#gridcontainer{
    background-color: bisque;
    height: 400px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
}

#item1{
    background-color: red;
    width: 250px;
    border: 2px solid black;
    
}

#item2{
    background-color: red;
    width: 250px;
    border: 2px solid black;
}

#item3{
    background-color: red;
    width: 250px;
    border: 2px solid black;
}

#item4{
    background-color: red;
    width: 250px;
    border: 2px solid black;
}

#item5{
    background-color: red;
    width: 250px;
    border: 2px solid black;
}

#item6{
    background-color: red;
    width: 250px;
    border: 2px solid black;
}









/* #global{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: azure;
    justify-content: space-around;
} */





@keyframes intro {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}