@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body, html { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  width: 100%; 
  background: #e53935;
  background: linear-gradient(to left, #e53935 , #e35d5b);
  font-family: 'Rubik Mono One', sans-serif;
}	

h1 {
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 3%;
  right: 53%;
  font-size: 4vw;
}

img {
  position: absolute;
  margin-left: 33%;
  width: 45%;
  height: auto;
}
